/* MAQUETA!!! */

/*

rgb colores paleta 

272727,fcba04,a50104,fcfcfc,9197ae

*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* NAV BAR */

.main-navbar {
    height: 80px;
    width: 100%;
    background-color: rgb(252, 186, 4);
    position: absolute;
}


/* MAIN SECTION! */


.main-presentacion {
    height: 100vh;
    background-color: lightblue;
    display: grid;
    grid-template-columns: repeat(autofill, minmax(15rem,1fr));
    background-image: url(/img/bk-repeat.jpg);
    background-repeat: repeat;
    background-size: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-logo-main{    
    max-width: 90%;
} 





/* MAIN INTEGRANTES */

.main-integrantes {
    height: 100vh;
    background-color: khaki;
}

.main-shows {
    height: 100vh;
    background-color: lightcoral;
}

.main-popular {
    height: 100vh;
    background-color: lightcyan;
}

.main-instagram {
    height: 100vh;
    background-color: lightgoldenrodyellow;
}

.footer {
    height: 100vh;
    background-color: lightseagreen;
}