/* MAQUETA!!! */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main-navbar {
    height: 10%;
    width: 100vw;
    background-color: rgb(186, 241, 102);
    position: absolute;
}

.main-presentacion {
    height: 100vh;
    background-color: lightblue;
}

.main-integrantes {
    height: 100vh;
    background-color: khaki;
}

.main-shows {
    height: 100vh;
    background-color: lightcoral;
}

.main-popular {
    height: 100vh;
    background-color: lightcyan;
}

.main-instagram {
    height: 100vh;
    background-color: lightgoldenrodyellow;
}

.footer {
    height: 100vh;
    background-color: lightseagreen;
}